{
    "printWidth": 85,
    "arrowParens": "always",
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "importOrder": [
        "^utils/(.*)$",
        "^constants/(.*)$",
        "^components/(.*)$",
        "^redux/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "bracketSameLine": false
}
