@import 'styles/mixins.scss';
@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.locations{
display: grid;
display: -webkit-grid;
grid-template-columns: auto auto auto auto auto auto;
@media (max-width: $small-screen) {
    grid-template-columns: 33% 33% 33%;
}
::-webkit-scrollbar {
    width: 0;
}
}
.locationItem{
    padding:0;
    background: url('/assets/images/bg_line.webp');
    background-repeat: no-repeat;
    background-position: top;
    margin: 0px!important;
    font-family: MontserratBold;
    color: #000;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 100%!important;
    height: 120px !important;
    overflow: scroll;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    @media (max-width: $small-screen) {
        height: 100px !important;
        margin: 0px 0px!important;
        padding: 0 5px;
    }
    a{
        height: 100%;
        margin-top: 0%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 25%;
        width: 100%;
        text-align: center;
        white-space: pre-line;
        font-size: 14px;
        
        background-image: url('/assets/images/location_bg.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top:-2px;
        padding-top: 20px;
        @media (max-width: $small-screen) {
        padding-top: 10px;
        font-size: 12px;
        padding: 0 20%;
        }
        p{
            color: inherit;
            font-size: 14px;
            font-family: MontserratBold;
            @media (max-width: $small-screen) {
                padding-top: 15px;
                font-size: 12px;
            }
        }

    }

}




