// * {
//     color: #0f0f0f;
// }

.h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
}

.h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

.h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.lg {
    font-size: 16px;
    line-height: 24px;
}

.lg-m {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.lg-b {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.lg-para {
    font-size: 16px;
    line-height: 28px;
}

.lg-para-b {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.reg {
    font-size: 14px;
    line-height: 20px;
}

.reg-b {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.para {
    font-size: 14px;
    line-height: 24px;
}

.para-b {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.reg-sm {
    font-size: 12px;
    line-height: 16px;
}
.reg-sm-m{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

.reg-sm-b {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.para-sm {
    font-size: 12px;
    line-height: 20px;
}

.para-sm-b {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

.reg-tn {
    font-size: 12px;
    line-height: 16px;
}

.reg-tn-b {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.error {
    color: #e7685a;
}

.success {
    color: #05945b;
}

.info {
    color: #008dc4;
}

.disable {
    color: #b0b0b0;
}
